.titulo {
    display: flex;
    place-content: center;
  }

  .titulo .MuiBox-root {
    color: #fff;
    margin-top: 2rem;

  }

@media screen and (max-width: 480px) {
    .titulo {
        font-size: 3rem;
    }
}