

.tramites-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  

.MuiPaper-outlined {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.MuiTypography-h5 {
    color: #0a2447;
}

.MuiBox-root {
  color: #000000;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titulo .MuiBox-root {
  color: #fff;
}

@media only screen and (max-width: 480px) {
  .MuiBox-root {
    max-height: 80%;
    font-size: 0.8em;
    width: 80%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .MuiBox-root {
    max-height: 80%;
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .MuiBox-root {
    max-height: 75%;
  }
}

.MuiStack-root {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}

.MuiStack-root a {
  place-content: center;
  display: grid;
}

