

.tramites-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  

.MuiPaper-outlined {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

  .MuiTypography-h5 {
    color: #0a2447;
}

.MuiBox-root {
  color: #ffffff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media only screen and (max-width: 480px) {
  .MuiBox-root {
    max-height: 80%;
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .MuiBox-root {
    max-height: 80%;
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .MuiBox-root {
    max-height: 75%;
  }}


.titulo {
  color: #fff;
}

