.consultas {
    min-width: 350px;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 0.5rem;
}

@media screen and (max-width: 480px) {
    .consultas {
        width: 80%;
    }
}