.sitios {
    margin: auto;
}

.sitios .MuiStack-root  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.sitios .MuiStack-root a {
    font-size: 1.1em;
    padding: 2rem;
}

@media screen and (max-width: 812px) {
    .sitios .MuiStack-root  {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .sitios .MuiStack-root a {
        font-size: 1rem;
        margin: auto;
        padding: 2rem;
    }
}