.MuiBox-root {
    margin-top: 2rem;
}

footer {
    margin: 2rem auto 0 auto;
}

footer .MuiSvgIcon-root{
    color: #0a2447;
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
    .MuiBox-root {
      max-height: 80%;
    }
  }