#root {
  max-width: 85rem;
  margin: 0 auto;
  text-align: center;
  min-width: 360px;
  display: flex;
  flex-direction: column;
}

#help-text {
  position: fixed;
  width: 60px;
  bottom: 100px; 
  right: 45px; 
  color: #ff8809; 
  font-size: 14px; 
  z-index: 9999; 
}