#root {
  max-width: 85rem;
  margin: 0 auto;
  text-align: center;
  min-width: 360px;
  display: flex;
  flex-direction: column;
}

.banner {
  background-image: url(/src/assets/INICIO.jpg);
  background-color: aliceblue;
  background-repeat: no-repeat;
  height: 300px;
  background-position: center;
  background-size: cover;
  margin: 20px 0;
}

.info {
  max-width: 70vw;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin: auto;
}

.MuiTypography-root{
  display: grid;
  place-content: center;
}